{% extends 'base.html' %}
{% block content %}

<div class="auth-body">
    <div class="auth-card">

        <div class="auth-brand">
            <h2>Set New <span>Password</span></h2>
            <p>Create a strong password</p>
        </div>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label>New Password</label>
                {{ form.new_password1 }}
            </div>

            <div class="mb-3">
                <label>Confirm Password</label>
                {{ form.new_password2 }}
            </div>

            <button type="submit" class="btn-auth w-100">
                Reset Password
            </button>
        </form>

    </div>
</div>

<script>
document.querySelectorAll("input").forEach(i => {
    i.classList.add("form-control");
});
</script>

{% endblock %}