{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <h2 class="fw-bold mb-4">My Wishlist</h2>

    {% if items %}
        <div class="row">
            {% for item in items %}
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <img src="{{ item.product.image.url }}" class="card-img-top">
                    <div class="card-body">
                        <h5>{{ item.product.name }}</h5>
                        <p class="fw-bold">₹ {{ item.product.price }}</p>

                        <a href="{% url 'remove_from_wishlist' item.product.id %}"
                           class="btn btn-sm btn-outline-danger">
                           Remove
                        </a>

                        <a href="{% url 'add_to_cart' item.product.id %}"
                           class="btn btn-sm btn-primary">
                           Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">Your wishlist is empty ❤️</p>
    {% endif %}
</div>

{% endblock %}
